@charset "UTF-8";
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logo-img {
  margin-left: 20px;
  width: 150px;
  height: 120px;
}

#nav {
  margin-left: auto;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: #343a40;
  font: 15px/24px "opensans-semibold", sans-serif;
}

nav a {
  background: white;
  width: 150px;
  text-align: center;
  line-height: 120px;
  text-decoration: none;
  color: #343a40;
  display: block;
}

#pickup {
  width: 100%;
  padding: 100px 0 100px 0;
  background-color: rgb(147, 67, 103);
}
#pickup .sec-title {
  color: #343a40;
}

#pickup .slick-area {
  font-size: 0;
}

#pickup .slick-area li {
  padding: 0 30px;
}

.slick-area .slick-slide {
  width: 400px;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.slick-area .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-area .slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 90px;
  z-index: 1;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.slick-area .slick-arrow::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #343a40;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-area .slick-next {
  right: 0;
  margin-right: 5px;
}

.slick-area .slick-prev {
  left: 0;
  margin-left: 5px;
}

.slick-area .slick-next::before {
  left: 12px;
}

.slick-area .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 12px;
}

.slick-area .slick-dots {
  text-align: center;
}

.slick-area .slick-dots li {
  display: inline-block;
}

.dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 20px 0;
}

.dots .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}

.dots .slick-dots button:hover {
  background: #343a40;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.dots .slick-dots .slick-active button {
  background: #343a40;
}

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fadein.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#feature {
  max-width: 1240px;
  padding: 100px 16px 50px 16px;
  margin: -50px auto 10px auto;
}
#feature .sec-title {
  color: #343a40;
}

#feature .grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#feature .grid .card {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 8px 4px #ccc;
          box-shadow: 0 0 8px 4px #ccc;
  border-radius: 5%;
}
#feature .grid img {
  vertical-align: top;
  border-radius: 5% 5% 0% 0%;
}
#feature .grid .card-content {
  padding: 30px;
}
#feature .grid .card-category {
  font-size: 0.95rem;
  text-transform: uppercase;
  color: #4f5e6d;
  margin-bottom: 20px;
}
#feature .grid .card-text {
  font-weight: bold;
  margin-bottom: 20px;
}
#feature .grid .card-date {
  font-size: 0.75rem;
  text-align: right;
}

#contact {
  color: #fff;
  background-color: #343a40;
  padding: 50px 0;
}

#contact .content {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .contact-info p {
  margin-bottom: 30px;
}

#contact .contact-info,
#contact .contact-form {
  width: 45%;
}

label {
  font-size: 13px;
  font-weight: normal;
  pointer-events: none;
  opacity: 0.5;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  border: 0.5px solid #1a1f23;
  border-width: 0px 0px 1px 0px;
  padding: 8px;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #fff;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  outline: none;
  opacity: 1;
}

#contact .contact-form .button input {
  width: 200px;
  float: right;
  color: #fff;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
#contact .contact-form .button input:hover {
  color: #b1b1b1;
  cursor: pointer;
}

/* common */ /* small screen */
html {
  font-size: 100%;
}

body {
  margin: 0;
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*-------------------------------------------
Header _header.scss
-------------------------------------------*/
/* main */
.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
  font: normal normal bold 36px/54px Meiryo;
}

#bg-video {
  width: 100%;
  background-color: #fc9a99;
}

/*-------------------------------------------
 section: Pickup _pickup.scss
-------------------------------------------*/
/*-------------------------------------------
section: FEATURE _feature.scss
-------------------------------------------*/
/*-------------------------------------------
section: Contact _contact.scss
-------------------------------------------*/
/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  color: #fff;
  background-color: #343a40;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}

/* medium screen */
@media (max-width: 600px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav a {
    display: none;
  }
  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    padding: 20px 16px;
  }
  /*-------------------------------------------
  Video
  -------------------------------------------*/
  /*
  「height: 100vh;」で画面の高さにあわせる
  「object-fit: cover;」で中央でトリミング
  */
  #bg-video {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  /*-------------------------------------------
  Pickup
  -------------------------------------------*/
  #pickup {
    padding: 80px 0;
  }
  #pickup .slick-area li {
    padding: 0 20px;
  }
  /*-------------------------------------------
  Feature
  -------------------------------------------*/
  #feature {
    padding: 80px 16px;
  }
  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  #contact {
    padding: 80px 0;
  }
}
/* large screen *//*# sourceMappingURL=style.css.map */