@use "./variables";

#contact {
  color: #fff;
  background-color: variables.$main-text-color;
  padding: 50px 0;
}

#contact .content {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#contact .contact-info p {
  margin-bottom: 30px;
}

#contact .contact-info,
#contact .contact-form {
  width: 45%;
}

label {
  font-size: 13px;
  font-weight: normal;
  pointer-events: none;
  opacity: 0.5;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  border: 0.5px solid #1a1f23;
  border-width: 0px 0px 1px 0px;
  padding: 8px;
  margin-bottom: 20px;
  opacity: 0.5;
  transition: 0.2s ease;
  color: #fff;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  outline: none;
  opacity: 1;
}

#contact .contact-form .button input {
  width: 200px;
  float: right;
  color: #fff;
  transition: 0.2s ease;

  &:hover {
    color: #b1b1b1;
    cursor: pointer;
  }
}

#close {
  cursor: pointer;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  color: variables.$main-text-color;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

:root {
  --top-change: 3110px;
}
#modal {
  background: #fff;
  max-width: 400px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: var(--top-change);
  left: 0;
  right: 0;
  margin: 0 auto;
}

#modal > p {
  margin: 0 0 20px;
  color: variables.$main-text-color;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -4000px);
}
