@use "./variables";

.toggle_btn {
  display: block;
  position: fixed;
  top: 37px;
  right: 45px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: variables.$main-text-color;
  border-radius: 4px;
  transition: all 0.5s;
}

// hamburger pressed
.toggle_btn span:nth-child(1) {
  top: 5px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

#toggle.active span {
  background-color: #fff;
}
// hamburger pressed again
.toggle_btn.active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.toggle_btn.active span:nth-child(2) {
  opacity: 0;
}
.toggle_btn.active span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(315deg);
  transform: translateY(-8px) rotate(315deg);
}

#overlay {
  display: none;
}

#overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(157, 154, 154);
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

@media (max-width: 750px) {
  nav a {
    display: none;
  }

  #nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: #fff;
    padding: 60px 25px;
    background-color: variables.$main-text-color;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
    z-index: 30;
    opacity: 0;
  }

  #nav.active {
    left: 0;
    opacity: 1;
  }

  #nav.active a {
    margin: 20px;
    text-decoration: none;
    display: block;
    background-color: variables.$main-text-color;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
    z-index: 30;
  }

  #nav.active ul.nav-menu {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  #nav ul.nav-menu li {
    position: relative;
    margin: 0;
    padding: 10px 0;
    border-bottom: solid 1px #fff;
    opacity: 0;
    transform: translateX(16px);
    transition: all 0.5s;
  }

  #nav.active ul.nav-menu li {
    opacity: 1;
    transform: none;
  }

  #nav.active ul.nav-menu li:nth-child(1) {
    transition-delay: 0.1s;
  }

  #nav.active ul.nav-menu li:nth-child(2) {
    transition-delay: 0.2s;
  }
  #nav.active ul.nav-menu li:nth-child(3) {
    transition-delay: 0.3s;
  }
}
