#header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

#logo-img {
  margin-left: 20px;
  width: 150px;
  height: 120px;
}

#nav {
  margin-left: auto;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font: #343a40;
  font: 15px/24px "opensans-semibold", sans-serif;
}

nav a {
  background: white;
  width: 150px;
  text-align: center;
  line-height: 120px;
  text-decoration: none;
  color: #343a40;
  display: block;
}
